{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

ici première page avec nom application<br>


photo Europe<br>

<h3> Les cours d'eau d'Europe <h3>
{% for cour in cours %}

<ul>
  <li> {{ cour.nom}} </li>
  <li> {{ cour.distance}} </li>
  <li> <button data-id= {{cour.id}} class="btn_voir"> Voir </button></li>
</ul>



  
{% endfor %}





<div class="card" style="width: 18rem;">
  <img src="/images/europe.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Europe</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    {# <a href="/register" class="btn btn-primary">S' enregistrer</a> #}
  </div>
</div>

{% block customJS %}
  <script>
    let= btns_voir = document.getElementsByClassName ("btn_voir");
    {# console.log ("btns_voir"); #}
    Array.from(btns_voir).forEach (function (btn_voir){
      btn_voir.addEventListener("click",function(event){
        let btn_voirClick = event.target;
        console.log(btn_voirClick.dataset.id);
        
       
        let formVoir = new FormData();
        formVoir.append ("id", btn_voirClick.dataset.id);
        axios.post ("/afficher/photo", formVoir,{
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })
        .then(function(response){
          // modifier le dom pour afficher les photos

          console.log(response);
        })
        .catch (function (error){
          console.log(error)
        })
      })
    })
  </script>
  {% endblock %}

{% endblock %}
