{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

ici première page avec nom application<br>
barre navigation<br>
liste cours d'eau<br>
photo Europe<br>

<h3> Les cours d'eau d'Europe <h3>
{% for cour in cours %}

<ul>
<li> {{ cour.nom}} </li>
<li> {{ cour.distance}} </li>
</ul>
  
{% endfor %}



<div class="card" style="width: 18rem;">
  <img src="/images/europe.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Europe</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/register" class="btn btn-primary">S' enregistrer</a>
  </div>
</div>

{% endblock %}
