{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<h1>Bienvenue au site!</h1>
ici bonjour le User<br>
liste cours d'eau<br>
formulaire pour inserer les km<br>
affichage km total<br>

{% endblock %}