{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<h1>Bienvenue au site!</h1>


Bienvenue au site {{ app.user.nom}}! <br>



liste cours d'eau<br>
//ici on affiche les cours d'eau dans deux div accordeon

//d'abord les validées et après tous les autres




<div>
Vous avez cumulé {{app.user.km}} km
</div>



formulaire pour inserer les km<br>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Rajoutez vos km" aria-label="kmRajouter">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rajouter</button>
  </form>
</nav>



{% endblock %}