{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	<h1>Bienvenue au site!</h1>


	Bienvenue au site
	{{ app.user.nom}}!
	<br>




	<div>

		Vous avez cumulé
		<div id="div_km_total">
			{{app.user.km}}
		</div>
		km
	</div>

	<form id="form_km_saisis" action="{{ path('form_km_saisis') }}" method="POST">
		Km:
		<input type="text" name="km" id="input_km">

		<button type="submit" id="btn_envoyer_km" value="Envoyer">
			Envoyer
		</button>
	</form>








	{% block customJS %}
		<script>


	let btn_envoyerKm = document.getElementById("btn_envoyer_km");

		btn_envoyerKm.addEventListener("click", function (event) {
				event.preventDefault();

				// obtenir les km saisis
				let input_km = document.getElementById("input_km")
				let km_saisis = input_km.value;




				<!-- AJAX - AXIOS  -->
				axios({
					url: '{{ path ("form_km_saisis") }}',
					method: 'POST',
					headers: {
						'Content-Type': 'multipart/form-data'
					},
					data: new FormData(document.getElementById("form_km_saisis"))
				})
				.then(function (response) {
				// response.data est un objet qui correspond à l'array associatif envoyé dans le controller
				// JsonResponse a transformé l'array en JSON. Axios transforme le JSON en objet JS
				// (et on utilise ici la clé "leMessage")

									// prendre le total actuel du div
					let div_km_total = document.getElementById("div_km_total");
					

					// actualiser les km totaux
					document.getElementById("div_km_total").innerHTML = response.data.km;
					console.log(response);
					// vider les km saisis
					input_km.value = "";
				})
				.catch(function (error) {
				console.log(error);
				});
		});
		</script>

	{% endblock %}

{% endblock %}
