body {
    background-color: rgb(161, 202, 230);
}

.nav {
    background-color: rgb(161, 179, 161);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.km {
    background-color: rgb(161, 179, 161);
    
}